<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXTrTTw1vnzw5ymjphgFYrUPN5devMLVY&callback=initMap" async defer></script>
    <title>Localización</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <%- include('header') %>
    <header>
        <h1>Localización</h1>
    </header>
    <main class="container mt-4">
        <h1>A través de este mapa puedes encontrarnos</h1>
        <div id="map"></div>
    </main>

    <script>
        function initMap() {
            var negocioLatLng = { lat: 38.35276952629413, lng: -0.47446453185070386 };
            var map = new google.maps.Map(document.getElementById('map'), {
                center: negocioLatLng,
                zoom: 15
            });

            var marker = new google.maps.Marker({
                position: negocioLatLng,
                map: map,
                title: 'Ubicación de las suites'
            });
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>